/* Setting the details for the font
TODO: play with weight and style params */
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* set the bgcolor of the main pain - want light grey*/
html {
  font-size: 25px;
  font-family: 'Share Tech Mono', monospace;
  background: rgb(141, 181, 193);
}

.bodystyle{
  margin: 2% 2% 2% 2%;
  padding: 2% 2%;
  background-color: rgb(165, 180, 181);
  box-sizing: border-box;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 1), 0 60px 200px 0 rgba(1, 0, 0, 0.5);
}

.logo-header img {
  float: left;
  height: max(8vh,8vw);
  width: auto;;
  background: rgb(165, 180, 181);
}

.logo-header h1 {
  position: relative;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 0 0;
  color: #156082;
  text-shadow: 3px 3px 1px black;
}

.logo-header h2 {
  font-size: 32px;
  text-align: center;
}

/* -- ANIMATION START --
CSS animation adapted from tutorial at:
https://www.smashingmagazine.com/2024/04/infinite-scrolling-logos-html-css/ */


.marquee {

  /* variables to control the animation */

  --marquee-item-width: min(25vh, 25vw);
  --marquee-item-height: min(25vh, 25vw);
  --marquee-duration: 60s;

  /* This offset is used in the timing delays 
   and therefore ultimately controls the image spacing. */
  --marquee-item-offset: calc(var(--marquee-item-width) * 5.5); 

  display: flex;
  block-size: var(--marquee-item-height);
  margin-block: 5%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__item {
  
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;

  width: var(--marquee-item-width);
  aspect-ratio: 1 / 1;
  
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.marquee__item:nth-of-type(1) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 1 * -1);
}

.marquee__item:nth-of-type(2) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 2 * -1);
}

.marquee__item:nth-of-type(3) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 3 * -1);
}

.marquee__item:nth-of-type(4) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 4 * -1);
}

.marquee__item:nth-of-type(5) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 5 * -1);
}

.marquee__item:nth-of-type(6) {
  --marquee-delay: calc(var(--marquee-duration) * 0.16667 * 6 * -1);
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}

/* ANTIMATION END */

p, li {
  color: rgb(32, 32, 32);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}