/* Setting the details for the font
TODO: play with weight and style params */
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* set the bgcolor of the main pain - want light grey*/
html {
  font-size: 25px;
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(235, 235, 235);
}

body{
  margin: 100px 0 0 0;
  padding: 0 10px;
  background-color: rgb(0, 235, 0);
  box-sizing: border-box;
  margin-left: 400;
  margin-right: 400;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }

.logo-header img {
  float: left;
  width: 200px;
  /*height: 100px;*/
  background: rgb(235, 235, 235);
}

.logo-header h1 {
  position: relative;
  top: 18px;
  left: 10px;

  font-size: 60px;
  text-align: center;

  margin: 0;
  padding: 20px 0;
  color: #156082;
  text-shadow: 3px 3px 1px black;
}

.logo-header h2 {
  font-size: 32px;
  text-align: center;
}

/* -- ANIMATION START --
 css animation adapted from tutorial at:
https://web-eau.net/en/blog/horizontal-scrolling-images-css */

@keyframes infiniteScroll {
	from {transform: translateX(0) }
	to {transform: translateX(calc(0px - 50% - 50px));}
}

.horizontal-scrolling-items-wrapper {
    display: flex;
    gap: 100px;
    animation-name: infiniteScroll;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 25px 0 !important;
    overflow-x: hidden !important;
}

.horizontal-scrolling-items-group {
    display: flex;
    width: auto;
    gap: 100px;
    overflow-x: hidden !important;
}

.horizontal-scroll-item {
	height: 280px;
	width: auto;
	background-size: cover;
	border: 1px solid #ccc;
  border-radius: 2rem;
}

.item-1 {
  background-image: url("../images/bench science to analysis.png");
  width: 464px;
}

.item-2 {
  background-image: url("../images/Cross platform harmonisation.png");
  width: 464px;
}

.item-3 {
  background-image: url("../images/Designed for thinkers bult for doers.png");
  width: 464px;
}

.item-4 {
  background-image: url("../images/desktop science and productivity apps.png");
  width: 464px;
}

.item-5 {
  background-image: url("../images/minimalist productivity tools.png");
  width: 464px;
}

.item-6 {
  background-image: url("../images/mobile science and productivity apps.png");
  width: 464px;
}

/* ANTIMATION END */


p, li {
  color: rgb(32, 32, 32);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}