/* Setting the details for the font
TODO: play with weight and style params */
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* set the bgcolor of the main pain - want light grey*/
html {
  font-size: 25px;
  font-family: 'Share Tech Mono', monospace;
  background: rgb(235, 235, 235);
}

body{
  margin: 100px 0 0 0;
  padding: 0 10px;
  background-color: rgb(90, 93, 90);
  box-sizing: border-box;
  margin-left: 400;
  margin-right: 400;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.logo-header img {
  float: left;
  width: 200px;
  background: rgb(235, 235, 235);
}

.logo-header h1 {
  position: relative;
  top: 10px;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #156082;
  text-shadow: 3px 3px 1px black;
}

.logo-header h2 {
  font-size: 32px;
  text-align: center;
}

/* -- ANIMATION START --
CSS animation adapted from tutorial at:
https://www.smashingmagazine.com/2024/04/infinite-scrolling-logos-html-css/ */


.marquee {
  display: flex;
  block-size: var(--marquee-item-height);
  margin-block: 10px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee--6 {
  --marquee-item-width: 800px;
  --marquee-item-height: 400px;
  --marquee-duration: 20s;
}

.marquee__item {
  --marquee-item-offset: max(
    2400px, /* width of all items */
    calc(100% + 800px)
  );
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.marquee--6 .marquee__item:nth-of-type(1) {
  --marquee-delay: calc(var(--marquee-duration) * (684 / 784 * -1));
  --marquee-item-width: 300px;
}

.marquee--6 .marquee__item:nth-of-type(2) {
  --marquee-delay: calc(var(--marquee-duration) * (534 / 784 * -1));
  --marquee-item-width: 300px;
}

.marquee--6 .marquee__item:nth-of-type(3) {
  --marquee-delay: calc(var(--marquee-duration) * (409 / 784 * -1));
  --marquee-item-width: 300px;
}

.marquee--6 .marquee__item:nth-of-type(4) {
  --marquee-delay: calc(var(--marquee-duration) * (299 / 784 * -1));
  --marquee-item-width: 300px;
}

.marquee--6 .marquee__item:nth-of-type(5) {
  --marquee-delay: calc(var(--marquee-duration) * (166 / 784 * -1));
  --marquee-item-width: 300px;
}

.marquee--6 .marquee__item:nth-of-type(6) {
  --marquee-delay: calc(var(--marquee-duration) * -1);
  --marquee-item-width: 300px;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}

/* ANTIMATION END */

p, li {
  color: rgb(32, 32, 32);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}